<div layout="column" ng-controller="method1Ctrl">
    <div id="const_goal" layout="row">
        <div class="map_view" flex="30">
            <div layout="row">
                <p flex="90" id="titl_map">Mean utility of all decision makers</p>
                <div class="help"><i class="material-icons">help_outline</i>
                    <span class="tooltiptext" id="m1mean">Locations in green color have the high utility values, in red - low values. Click on the map to get the mean utility of all decision makers as well as values of each decision maker on particular location. All values will be shown on the diagram on the right panel. Polygons, highlighted with blue color are top 6 locations with high mean utility value. Move the cursor of the slider near the layer, opacity of which you want to change.</span>
                </div>
            </div>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_1_mean" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                </openlayers>
                <div layout="column" class="legend">
                    <p>Utility values</p>
                    <img class="legend_img" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_mean_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:12">
                    <div layout="row">
                        <img style="height:20px; width:20px" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:districts1method&legend_options=bgColor:0xEDE7F6;dpi:100;fontSize:12">
                        <p class="top6">Top 6 Best</p>
                    </div>

                </div>
            </div>
            <form style="padding: 0 5px 0 5px;" ng-repeat="layer in method_1_mean">
                <div layout="row">
                    <p flex="50" style="margin: auto 0;"> {{layer.name}} </p>
                    <md-slider flex="50" style="margin: auto 0;" min="0" max="1" step="0.01" ng-model="layer.opacity" class="md-primary"></md-slider>
                </div>
            </form>

        </div>

        <div class="map_view" flex="30">
            <div layout="row">
                <p flex="90" id="titl_map">Level of agreement</p>
                <div class="help"><i class="material-icons">help_outline</i>
                    <span class="tooltiptext" id="m1sd">The map shows standard deviation of the mean utility value on the chosen location. The less standard deviation, the higher the level of agreement. To get the value of the level of agreement on particular location, click on the map. The standard deviation will be shown on the slider on the right panel. Polygons, highlighted with blue color are top 6 locations with high mean utility value. Move the cursor of the slider near the layer, opacity of which you want to change.</span>
                </div>
            </div>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_1_sd" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                </openlayers>
                <div layout="column" class="legend">
                    <p>Standard Deviation</p>
                    <img class="legend_img_both" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_sd_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:10">
                    <div layout="row">
                        <img style="height:20px; width:20px" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:districts1method&legend_options=bgColor:0xEDE7F6;dpi:100;fontSize:12">
                        <p class="top6">Top 6 Best</p>
                    </div>
                </div>
            </div>
            <form style="padding: 0 5px 0 5px;" ng-repeat="layer in method_1_sd">
                <div layout="row">
                    <p flex="50" style="margin: auto 0;"> {{layer.name}} </p>
                    <md-slider flex="50" style="margin: auto 0;" min="0" max="1" step="0.01" ng-model="layer.opacity" class="md-primary"></md-slider>
                </div>
            </form>
        </div>
        <div layout="column" class="diagram_view" flex="33">
            <div layout="row">
                <p flex="90" id="titl_diagram">Utility values of all decision makers and the level of agreement for the chosen location</p>
                <div class="help"><i class="material-icons">help_outline</i>
                    <span class="tooltiptext" id="m1diag">On the diagram the utility values of all decision makers and the mean utility value on chosen location will be shown after clicking on some place of the map. The slider represents the level of agreement - the standard deviation on chosen location. In the table below, the name of the district, mean utility value and standard deviation will be saved from the last 7 chosen locations. It can take some time to recieve response from the server. To delete the last row, click button under the table</span>
                </div>
            </div>
            <div layout="row">
                <div flex="65" class="canvas">
                    <p>Utility value</p>
                    <canvas id="base" class="chart-bar" chart-data="dataMaps1" chart-labels="dm_names" chart-colors="colors" chart-dataset-override="datasetOverride" chart-options="chartOptions1">
                    </canvas>
                </div> 
                <md-slider-container class="slider" flex="35">
                    <p>Level of agreement</p>
                    <span>0.01</span>
                    <md-slider min="0" max="0.2" step="0.01" ng-disabled="true" ng-model="sdMap" aria-label="invert-slider" md-invert="" md-vertical></md-slider>
                    <span>0.2</span>
                    <md-input-container>
                        <input class="sd_val" ng-model="sdMap" readonly>
                    </md-input-container>
                </md-slider-container>
                <!--<img class="legend_img_d1" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_sd_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:14">-->
            </div>
            <p id="titl_diagram">Table of most recent locations clicked</p>
            <md-progress-linear ng-show="inProcess" md-mode="indeterminate"></md-progress-linear>
            <div layout="column" class="table_data">
                <div layout="row" ng-repeat="point in table_data track by $index">
                    <p flex="25">{{point.district}}</p>
                    <p flex="45" style="margin:0 auto;">{{point.mean_value}}</p>
                    <p flex="30">{{point.sd}}</p>
                </div>
            </div>
            <md-button id="del_but_row" ng-click="del_last_row();" class="md-icon-button md-primary" aria-label="Delete">
                <md-tooltip>Delete the last row</md-tooltip><i class="material-icons">delete</i></md-button>
        </div>
    </div>
</div>