<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="smce" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Group SMCE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/openlayers3/build/ol.css">
    <link rel="stylesheet" href="directives/css/treeview_with_values.css">
    <link rel="stylesheet" href="app.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <header class="header_div">
        <p id="titl">Consensus Analysis with Spatial Multi-Criteria Evaluation about the best districts in Rwanda on spatial planning</p>
    </header>

    <div id="methods" layout="column">
        <div flex='100' layout="column">
            <div ng-controller="NavigationCtrl">
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-href="#/" name="method1">
                        <md-tooltip style="font-size:14px;">Consensus analysis with original utility values of all decision makers</md-tooltip>Absolute consensus</md-nav-item>
                    <md-nav-item md-nav-href="#/method2" name="method2">
                        <md-tooltip style="font-size:14px;">Consensus analysis with utility values rescaled to good, mediocre and poor locations</md-tooltip>Relative consensus</md-nav-item>
                    <md-nav-item md-nav-href="#/methods" name="methods">
                        <md-tooltip style="font-size:14px;">Both methods are presented</md-tooltip>Compare absolute & relative consensus</md-nav-item>
                </md-nav-bar>
            </div>
            <div id="method_vis" ng-view></div>
        </div>
    </div>
    <div id="crt_panel" ng-controller="criteriaTreeCtrl">
        <div layout="row">
            <md-button id="collapse_ct" ng-click="toggleCriteriaTree()">{{nameButton}}</md-button>
            <div class="help"><i class="material-icons">help_outline</i>
                <span class="tooltiptext" id="ct_help">On the left side of the panel below, the criteria trees with weights of all decision makers are shown. Click on the goal / objective / criteria to see its map of chosen user. It is also possible to choose several users, which will be displayed on the right side. For better interaction, you can collapse the tree by clicking the button "Hide criteria tree". Clicking the same button, you can expand the tree back. On the right side, the chosen map will be on the top, and all sub-objectives or criteria will be visualized below. To collapse / expand the map, click the button with the name</span>
            </div>
        </div>
        <div layout="row" flex="100">
            <div class="criteriatree" flex='{{ct_width}}'>
                <div ng-repeat="crit in criteria" class="crt" data-angular-treeview="true" data-tree-id="tree01" data-tree-model="crit" data-node-label="name" data-node-children="children" data-node-value="value" data-node-user="user">
                </div>
                <br>
            </div>
            <div class="mapsPanel" flex='{{viz_width}}'>
                <div class="userMap" ng-repeat="user in users_outputs_inputs">
                    <div layout="column">
                        <div layout="row">
                            <p flex="85" id="titl_map">{{user.output.username}}</p>
                            <md-button flex="15" id="del_but" ng-click="delete_user(user.id);" class="md-icon-button md-primary" aria-label="Delete">
                                <md-tooltip>Delete the user from the panel</md-tooltip><i class="material-icons">clear</i></md-button>
                        </div>
                        <div class="output">
                            <p class="input_butt" ng-click="showDetailOutput = !showDetailOutput">{{user.output.mapname}}</p>
                            <div class="user_output">
                                <div ng-show="showDetailOutput">
                                    <div class="weight_div" layout="row">
                                        <p>Weight</p>
                                        <input class="weight_inp" value="{{user.output.weight}}" readonly>
                                    </div>
                                    <p ng-show="showRange" style="padding-left: 5px;">The range of utility values is: {{user.range}}</p>
                                    <div layout="row">
                                        <openlayers class="maps_out" ol-center="user.output.map.center" height="250px">
                                            <ol-layer ng-repeat="lay in user.output.map.layers_name" ol-layer-properties="lay"></ol-layer>
                                        </openlayers>
                                        <img class="legend_img_ct" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_mean_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:10">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input">
                            <div ng-repeat="input in user['inputs']">
                                <p class="input_butt" ng-click="showDetailOutput = !showDetailOutput">{{input.mapname}}</p>
                                <div ng-show="!showDetailOutput">
                                    <div class="weight_div" layout="row">
                                        <p>Weight</p>
                                        <input class="weight_inp" value="{{input.weight}}" readonly>
                                    </div>
                                    <div layout="row">
                                        <openlayers class="maps_out" ol-center="input.map.center" height="250px">
                                            <ol-layer ng-repeat="lay in input.map.layers_name" ol-layer-properties="lay"></ol-layer>
                                        </openlayers>
                                        <img class="legend_img_ct" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_mean_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:10">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/openlayers3/build/ol.js"></script>
    <script src="bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.js"></script>
    <script src="directives/treeview_with_values.js"></script>
    <script src="bower_components/proj4/dist/proj4.js"></script>
    <script src="http://epsg.io/32735.js"></script>
    <script src="app.js"></script>
    <script src="code.js"></script>
    <script src="method1/method1.js"></script>
    <script src="method2/method2.js"></script>
    <script src="methods/methods.js"></script>
    <script src="services.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>




</body>

</html>