<div layout="column" ng-controller="methodsCtrl">
    <div id="const_goal" layout="row">
        <div class="map_view" flex="30">
            <p id="titl_map">Mean map</p>
            <openlayers class="main_maps" ol-center="center" ol-defaults="defaults" height="250px" width="250px">
                <ol-layer ol-layer-properties="mean_map"></ol-layer>
                <!--<img src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:mean_map">-->
            </openlayers>
        </div>
        <div class="map_view" flex="30">
            <p id="titl_map">Level of agreement</p>
            <openlayers class="main_maps" ol-center="center" ol-defaults="defaults" height="250px" width="250px">
                <ol-layer ol-layer-properties="sd_map"></ol-layer>
            </openlayers>
        </div>
        <div class="map_view" flex="38">
            <p id="titl_map">Diagram</p>
            <div class="canvas" width="100%">
                <canvas id="base" class="chart-bar" chart-data="dataMaps1" chart-labels="dm_names" chart-colors="colors" chart-dataset-override="datasetOverride" chart-options="chartOptions1">
                </canvas>
            </div>
        </div>
    </div>
    <div id="const_goal" layout="row">
        <div class="map_view" flex="30">
            <p id="titl_map">Score map</p>
            <openlayers class="main_maps" ol-center="center" ol-defaults="defaults" height="250px" width="250px">
                <ol-layer ol-layer-properties="bc_map"></ol-layer>
                <!--<img src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:mean_map">-->
            </openlayers>
        </div>
        <div class="map_view" flex="30">
            <p id="titl_map">Level of agreement</p>
            <openlayers class="main_maps" ol-center="center" ol-defaults="defaults" height="250px" width="250px">
                <ol-layer ol-layer-properties="bc_sd"></ol-layer>
            </openlayers>
        </div>
        <div class="map_view" flex="38">
            <p id="titl_map">Diagram</p>
            <div class="canvas" width="100%" layout="row">
                <canvas id="base" class="chart-bar" chart-data="dataMaps2" chart-labels="dm_names" chart-colors="colors" chart-dataset-override="datasetOverride" chart-options="chartOptions2">
                </canvas>
                <!--<div flex="10" layout="column">
                    <md-input-container>
                        <input flex type="number" ng-model="score_map" aria-label="Score">
                    </md-input-container>
                    <md-slider ng-model="score_map" md-discrete="" aria-label="Score" md-vertical="" min="0" max="20" step="1" ng-disabled="true">
                    </md-slider>
                </div>-->
            </div>
        </div>
    </div>
    <div id="comparison">

        <md-button id="comp_button">Compare</md-button>
    </div>
</div>