<div layout="column" ng-controller="method2Ctrl">
    <div id="const_goal" layout="row">
        <div class="map_view" flex="30">
            <p id="titl_map">Score map</p>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_2_mean" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                </openlayers>
                <img class="legend_img" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_score_mean_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:12">
            </div>
        </div>
        <div class="map_view" flex="30">
            <p id="titl_map">Level of agreement</p>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_2_sd" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                    <!--<ol-layer ol-layer-properties="bc_sd"></ol-layer>-->
                </openlayers>
                <img class="legend_img" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_score_sd_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:12">
            </div>
        </div>
        <div class="map_view" flex="38">
            <p id="titl_map">Diagram</p>
            <div class="canvas" width="100%" layout="row">
                <canvas id="base" class="chart-bar" chart-data="dataMaps2" chart-labels="dm_names" chart-colors="colors" chart-dataset-override="datasetOverride2" chart-options="chartOptions2">
                </canvas>
            </div>
            <p id="titl_map">Level of agreement</p>
            <md-slider-container>
                <span>Low</span>
                <md-slider min="0" max="1" step="0.01" ng-disabled="true" ng-model="sd_score_map" aria-label="invert-slider" md-invert="">
                </md-slider>
                <span>High</span>
            </md-slider-container>
            <md-input-container class="lev_agree_val">
                <span>Standard Deviation</span>
                <input flex="" type="number" ng-model="sd_score_map" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </div>
    </div>
</div>