<div layout="column" ng-controller="method2Ctrl">
    <div id="const_goal" layout="row">
        <div class="map_view" flex="30">
            <p id="titl_map">Score map</p>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_2_mean" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>
                </openlayers>
                <img class="legend_img" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_score_mean_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:12">
            </div>
            <i id="help" class="material-icons" ng-click="showTipp = !showTipp">help_outline</i>
            <p id="help_tip" ng-show="showTipp">Click on the map to get: <br>
                - The mean score value<br>
                - Score of each decision maker<br>
                - Standard deviation value<br>
            </p>
        </div>
        <div class="map_view" flex="30">
            <p id="titl_map">Level of agreement</p>
            <div layout="row">
                <openlayers class="main_maps" ol-center="center_main" ol-defaults="defaults">
                    <ol-layer ng-repeat="layer in method_2_sd" name="{{ layer.name }}" ol-layer-properties="layer"></ol-layer>                    
                </openlayers>
                <img class="legend_img" src="http://130.89.221.193:85/geoserver/wms?&REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=nadja_smce:r3_score_sd_map&legend_options=bgColor:0xEDE7F6;dpi:80;fontSize:12">
            </div>
        </div>
        <div layout="column" class="diagram_view" flex="33">
            <p id="titl_map">Diagram</p>
            <div class="canvas" width="100%">
                <canvas id="base" class="chart-bar" chart-data="dataMaps2" chart-labels="dm_names" chart-colors="colors" chart-dataset-override="datasetOverride2" chart-options="chartOptions2">
                </canvas>
            </div>
            <p id="titl_map">Level of agreement</p>
            <md-slider-container>
                <span>Low</span>
                <md-slider min="0" max="1" step="0.01" ng-disabled="true" ng-model="sd_score_map" aria-label="invert-slider" md-invert="">
                </md-slider>
                <span>High</span>
            </md-slider-container>
            <md-input-container class="lev_agree_val">
                <span>Standard Deviation</span>
                <input flex="" type="number" ng-model="sd_score_map" aria-label="red" aria-controls="red-slider" readonly>
            </md-input-container>
            <div layout="column" class="table_data">
                <div layout="row" ng-repeat="point in table_data track by $index">
                    <p flex="25">{{point.district}}</p>
                    <p flex="45" style="margin:0 auto;">{{point.mean_score}}</p>
                    <p flex="30">{{point.sd}}</p>
                </div>
            </div>
            <md-button id="del_but1" ng-click="del_last_row();" class="md-icon-button md-primary" aria-label="Delete"><md-tooltip>Delete the last row</md-tooltip><i class="material-icons">delete</i></md-button>
        </div>
    </div>
</div>